{% extends "base.html" %}

{% block content %}
<h1>Bienvenido a VeterinariaCoder</h1>
<p>Explora nuestros servicios y encuentra a nuestros veterinarios calificados.</p>

<div class="d-flex flex-column align-items-start">
    <a href="{% url 'lista_servicios' %}" class="btn btn-primary mb-2">Ver Servicios</a>
    <a href="{% url 'lista_veterinarios' %}" class="btn btn-success mb-2">Ver Veterinarios</a>
    <a href="{% url 'buscar_veterinario' %}" class="btn btn-info mb-2">Buscar Veterinario</a>
</div>
{% endblock %}