{% extends "base.html" %}

{% block content %}
  <h2>Lista de Veterinarios</h2>

  <ul>
    {% for veterinario in veterinarios %}
      <li>
        <strong>{{ veterinario.nombre }}</strong> - {{ veterinario.matricula }}
        <p>{{ veterinario.descripcion }}</p>  <!-- Mostrar la descripción -->
        
        <!-- Botón para editar y eliminar solo si es admin -->
        {% if user.is_authenticated and user.is_staff %}
          <a href="{% url 'editar_veterinario' veterinario.pk %}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{% url 'eliminar_veterinario' veterinario.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
        {% endif %}
      </li>
    {% empty %}
      <p>No hay veterinarios registrados en este momento.</p>
    {% endfor %}
  </ul>

  <a href="{% url 'inicio' %}" class="btn btn-secondary mt-3">Volver al Inicio</a>
{% endblock %}

