{% extends "base.html" %}

{% block content %}
  <h2>Listado de Mascotas de Todos los Dueños</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre de la Mascota</th>
        <th>Dueño</th>
        <th>Especie</th>
        <th>Raza</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      {% for mascota in mascotas %}
        <tr>
          <td>{{ mascota.nombre }}</td>
          <td>{{ mascota.dueño.username }}</td>
          <td>{{ mascota.especie }}</td>
          <td>{{ mascota.raza }}</td>
          <td>{{ mascota.edad }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No hay mascotas registradas.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
